@font-face {
    font-family: "TTLakes";
    src: url("../fonts/TTLakes-Regular.ttf");
}
@font-face {
    font-family: "TTLakes-Bold";
    src: url("../fonts/TTLakes-Bold.ttf");
}
@font-face {
    font-family: "TTLakes-Light";
    src: url("..//fonts/TTLakes-Light.ttf");
}

html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body{
    font-family:"TTLakes", sans-serif;
}
.mobile-menu {
    margin: 0 auto;
    width: 320px;
    padding: 23px 24px 35px 24px;
    background-color: #ffffff;
    /* position: fixed; */

}
.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__btn {
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50%;
    outline: none;
}
.header__btn:hover {
    filter:  opacity(25%);
    transition-duration: 3s;
    cursor: pointer;
}
.header__btn_close {
    background: url("../img/svg/close.svg") no-repeat #FF3E79 10px 10px;
}
.group-logo {
    margin-right: 65px;
}
.header__btn_search-info {
    background: url("../img/svg/search-info.svg") no-repeat #FF3E79 10px 10px;
}
.nav-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    min-height: 400px;
}
.nav-menu-list {
    font-family: "TTLakes", sans-serif;
    font-weight: 600;
    font-size: 16px;
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}
.nav-menu-list__link {
    text-decoration: none;
    color: #1B1C21;
    position: relative;
}
.nav-menu-list__item{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    justify-content: space-around;
}
.nav-menu-list__link:hover:before{
    content: "";
    background: #41F6D7;
    height: 32px;
    width: 4px;
    position: absolute;
    border-radius:0  30% 30% 0; 
    left: -25px;
    bottom: -5px;
}
.nav-menu-list__link:hover {
    opacity: 70%;
}
.nav-menu-list__link:focus {
    color: #ff2d2d;
}
.buttons-list{
    display: flex;
    flex-direction: column;
}
.tablet-list {
    display: flex;
    padding: 0;
}
.tablet-list__item {
    padding-right: 16px;
    list-style: none;
}
.tablet-list__btn-call-pic {
    background: url("../img/svg/call.svg") no-repeat #FF3E79 10px 10px;
}
.tablet-list__btn-chat-pic {
    background: url("../img/svg/chat.svg") no-repeat #FF3E79 10px 10px;
}
.tablet-list__btn-profile-pic {
    background: url("../img/svg/profile.svg") no-repeat #FF3E79 10px 10px;
}
.contacts-info{
    display: flex;
    flex-direction: column;
    flex-basis: 35%;
    justify-content: space-between;
}
.contacts__email {
    font-family:"TTLakes", sans-serif;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    flex-basis: 15%;
}
.contacts__link {
    text-decoration: none;
    color: #1B1C21;
}
.contacts__phone {
    display: flex;
    font-family: "TTLakes-Bold", sans-serif;
    font-size: 24px;
}
.languages{
    display:flex;
    flex-basis:70%;
}
.languages__btn {
    font-family: "TTLakes", sans-serif;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    border: none;
    background: none;
    padding-left: 0;
}
.languages__btn:hover {
    opacity: 70%;
    transform: scale(1.3);
}
