@font-face {
    font-family: "TTLakes";
    src: url("../fonts/TTLakes-Regular.ttf");
}
@font-face {
    font-family: "TTLakes-Bold";
    src: url("../fonts/TTLakes-Bold.ttf");
}
@font-face {
    font-family: "TTLakes-Light";
    src: url("..//fonts/TTLakes-Light.ttf");
}

html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body{
    font-family:"TTLakes", sans-serif;
}
.mobile-menu {
    margin: 0 auto;
    width: 320px;
    max-height: 1024px;
    padding: 23px 24px 35px 24px;
    background-color: #ffffff;
}
.mobile-menu_open {
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__btn-close-wrapper {
}
.header__btn {
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50%;
    outline: none;
}
.header__btn:hover {
    transform: scale(1.3);
    transition-duration: 1s;
    cursor: pointer;
}
.header__btn_close {
    background: url("../img/svg/close.svg") no-repeat #FF3E79 10px 10px;
}
.group-logo {
    margin-right: 65px;
}
.header__btn_search-info {
    background: url("../img/svg/search-info.svg") no-repeat #FF3E79 10px 10px;
}
.nav-menu-list {
    font-family: "TTLakes", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 55px;
    list-style: none;
    padding-left: 0;
    max-height: 700px;
    display: flex;
    flex-direction: column;
}
.nav-menu-list__link {
    text-decoration: none;
    color: #1B1C21;
    position: relative;
    display: flex;
    align-items: space-around;
}
.nav-menu-list__link:hover:before{
    content: "";
    background: #41F6D7;
    height: 32px;
    width: 4px;
    position: absolute;
    border-radius:0  30% 30% 0; 
    left: -25px;
}
.nav-menu-list__link:hover {
    color: #7E7E82;
}
.nav-menu-list__link:focus {
    color: #ff2d2d;
}
.tablet-list {
    display: flex;
    padding: 0;
}
.tablet-list__item {
    padding-right: 16px;
    list-style: none;
}
.tablet-list__btn-call-pic {
    background: url("../img/svg/call.svg") no-repeat #FF3E79 10px 10px;
}
.tablet-list__btn-chat-pic {
    background: url("../img/svg/chat.svg") no-repeat #FF3E79 10px 10px;
}
.tablet-list__btn-profile-pic {
    background: url("../img/svg/profile.svg") no-repeat #FF3E79 10px 10px;
}
.contacts__email {
    font-family:"TTLakes", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 34px;
}
.contacts__link {
    text-decoration: none;
    color: #1B1C21;
}
.contacts__phone {
    font-family: "TTLakes-Bold", sans-serif;
    font-size: 24px;
    line-height: 52px;
}
.languages__btn {
    font-family: "TTLakes", sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    border: none;
    background: none;
    padding-left: 0;
}
.languages__btn:hover {
    color: #7E7E82;
    transform: scale(1.3);
}
