.slider-title{
    font-family: "TT Lakes";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #7E7E82;
    text-transform: uppercase;
    background-color: #ffffff;
    border-top : 1px solid #D9FFF5;
    padding: 16px ; 
    margin-bottom: 0px;
}
.swiper-wrapper {
     padding: 20px 0 50px 20px;
}
.card__image {
    background:#ffffff;
    border-radius: 5px;
    border: 1px solid rgb(179, 177, 177);
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 0 16px 0 16px;
    width: 210px;
    height: 72px;
}
.swiper-slide-active {
    width: auto !important;
    margin-right: 20px;
}
.swiper-slide-next {
    width: auto !important;
    margin-right: 20px;
}
.swiper-slide-prev {
    visibility: hidden;
}
.card__btn{
    width: 30px;
    height: 40px ;
    border: 3px solid #FF3E79;
    border-radius: 50%;
    background: url("../img/svg/dropdown.svg") no-repeat center ;
    outline: none;
    cursor: pointer;
}
.swiper-container {
    background: #F2F2F2;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.swiper-scrollbar{
    visibility: hidden;
}
.swiper-button-prev,
.swiper-button-next{
   visibility: hidden;
}
.swiper-pagination-bullet {
    background-color: #DDDDDD !important;
    width: 12px !important;
    height: 12px !important;
}
.swiper-pagination-bullet-active{
    background-color: #B5B6BC !important;
}
@media only screen and (min-width: 768px) {
.card{
    width: auto !important;
    margin: 0 10px 25px 0;
}
.swiper-wrapper{
    display: flex;
    flex-wrap: wrap;
    /* margin-left: 10px; */
}
.swiper-show-all{
    position: absolute;
    bottom: 25px;
    left: 55px;
}
.swiper-show-all__btn {
    font-family: "TT Lakes", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; 
    color: #1B1C21;
    margin-left: 5px;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}
.swiper-show-all__btn::after{
    content: "Скрыть"
}
.swiper-show-all__btn-mod::after{
    content: "Показать все";
}
.swiper-show-all__img{
    cursor: pointer;
}
}
@media only screen and (max-width: 1120px) {
    .hidden-tablet{
        display: none;
    }
}
@media only screen and (min-width: 1120px) {
    .hidden{
        display: none;
    }
    .card{
        margin: 0 35px 25px 0;
    }
}
@media only screen and (max-width: 768px) {
    .hidden{
        display: block;
    }
    .swiper-show-all{
        display: none;
    }
}
.rotate{
    transform: rotate(180deg);
}
