@font-face {
    font-family: "TTLakes";
    src: url("../fonts/TTLakes-Regular.ttf");
}


html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

.slider-title{
    font-family: "TT Lakes";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #7E7E82;
    text-transform: uppercase;
    background-color: #ffffff;
    border-top : 1px solid #D9FFF5;
    padding: 16px ; 
    margin-bottom: 0px;
}

.swiper-wrapper {
     padding: 20px 0 50px 20px;
}
.card__image {
    background:#ffffff;
    border-radius: 5px;
    border: 1px solid rgb(202, 196, 196);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    align-items:center;
    padding: 0 16px 0 16px;
    width: 240px;
    height: 72px;
}
.swiper-slide-active {
    width: auto !important;
    margin-right: -20px;
}
.swiper-slide {
    display: flex;
    justify-content: space-around;
}
.card__btn{
    width: 40px;
    height: 40px ;
    border: 2px solid #FF3E79;
    border-radius: 50%;
    outline: none;
    background: url("../img/svg/dropdown.svg") no-repeat center;
}
.swiper-container {
    background: #F2F2F2;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.swiper-scrollbar{
    visibility: hidden;
}
.swiper-button-prev,
.swiper-button-next{
   visibility: hidden;
}
.swiper-pagination-bullet {
    background-color: #DDDDDD !important;
    width: 12px !important;
    height: 12px !important;
}
.swiper-pagination-bullet-active{
    background-color: #B5B6BC !important;
}